@using System.Web.Mvc.Html
@model Sam.ToolStock.Model.ViewModels.UserViewModel

<div class="col-md-12">
    <aside class="profile-nav alt">
        <section class="card">
            <div class="card-header user-header alt bg-dark">
                <div class="media">
                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="~/Content/Images/user.jpg">
                    <div class="media-body">
                        <h2 class="text-light display-6">
                            @{
                                var fullName = Model.Patronymic == null
                                    ? Model.Name + " " + Model.Surname
                                    : Model.Name + " " + Model.Patronymic + " " + Model.Surname;
                            }
                            @fullName
                        </h2>
                        <p>@Model.Role</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        @Html.Raw(Resources.Resource.ShowUserMenuTitle)
                    </div>
                    <div class="card-body card-block">
                        @using (Ajax.BeginForm("Update", null, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "form-horizontal" }))
                        {
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(m => m.Id, new { @class = "form-control-lable" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(m => m.Id, new
                                    {
                                        @class = "form-control",
                                        placeholder = Resources.Resource.Disabled,
                                        disabled = true
                                    })
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.Id)
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(m => m.Name, new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "User Name", value = Model.Name})
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(m => m.Patronymic, new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.ValidationMessageFor(m => m.Patronymic, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control", placeholder = "User Patronymic", value = Model.Patronymic })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(m => m.Surname, new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "User Surname", value = Model.Surname })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(m => m.Email, new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "User Email", value = Model.Email, type = "email" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(m => m.Phone, new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "User Phone", value = Model.Phone, type = "tel" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(m => m.Role, new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(m => m.Role, new SelectList(Model.Roles, "Name", "Name", Model.Role), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(m => m.DepartmentId, new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.ValidationMessageFor(m => m.DepartmentId, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Departments, "Id", "Name", Model.DepartmentId), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(m => m.StockId, new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.ValidationMessageFor(m => m.StockId, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(m => m.StockId, new SelectList(Model.Stocks, "Id", "Name", Model.StockId), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-actions form-group">
                                <input type="submit" value=@Resources.Resource.Update name="Update" class="btn btn-primary">
                                @Ajax.ActionLink(Resources.Resource.Reset, "Reset", new { userid = Model.Id }, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-warning" })
                                @if (Model.Role != "Admin")
                                {
                                    @Html.ActionLink(Resources.Resource.Delete, "Delete", new { userid = Model.Id }, new { @class = "btn btn-danger" })
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>