@model IEnumerable<Sam.ToolStock.Model.ViewModels.DepartmentViewModel>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <strong class="card-title">Department Table</strong> @Html.ActionLink("Create new department", "Create", null, new { @class = "btn btn-primary ml-auto" })
        </div>
        <div class="table-stats order-table ov-h">
            <table class="table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>User amount</th>
                        <th>Stock amount</th>
                        <th>Deleted</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    foreach (var departmentViewModel in Model)
                    {
                        <tr>
                            <td>@departmentViewModel.Id</td>
                            <td>
                                <span class="name">@departmentViewModel.Name</span>
                            </td>
                            <td>
                                <span class="count">@departmentViewModel.Users.Count()</span>
                            </td>
                            <td>
                                <span class="count">@departmentViewModel.Stocks.Count()</span>
                            </td>
                            <td>
                                <span class="name">@departmentViewModel.IsDeleted</span>
                            </td>
                            <td>
                                @{
                                    if (departmentViewModel.IsDeleted)
                                    {
                                        @Html.ActionLink("Restore", "Restore", new { departmentId = departmentViewModel.Id }, new { @class = "btn btn btn-secondary ml-auto" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Update", "Update", new { departmentId = departmentViewModel.Id }, new { @class = "btn btn-success ml-auto" })
                                        @Html.ActionLink("Delete", "Delete", new { departmentId = departmentViewModel.Id }, new { @class = "btn btn-danger ml-auto ", @data_target = "#smallmodal" })
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div> <!-- /.table-stats -->
    </div>
</div>
