@model IEnumerable<Sam.ToolStock.Model.ViewModels.DepartmentViewModel>

@{
    ViewBag.Title = @Resources.Resource.AllDepartments;
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <strong class="card-title">@Resources.Resource.DepartmentTable</strong> 
            @Html.ActionLink(@Resources.Resource.CreateNewDepartment, "Create", null, new { @class = "btn btn-primary ml-auto" })
        </div>
        <div class="table-stats order-table ov-h">
            <table class="table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>@Resources.Resource.Name</th>
                        <th>@Resources.Resource.UserAmount</th>
                        <th>@Resources.Resource.StockAmount</th>
                        <th>@Resources.Resource.Deleted</th>
                        <th>@Resources.Resource.Actions</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    foreach (var departmentViewModel in Model)
                    {
                        <tr>
                            <td>@departmentViewModel.Id</td>
                            <td>
                                <span class="name">@departmentViewModel.Name</span>
                            </td>
                            <td>
                                <span class="count">@departmentViewModel.Users.Count()</span>
                            </td>
                            <td>
                                <span class="count">@departmentViewModel.Stocks.Count()</span>
                            </td>
                            <td>
                                <span class="name">@departmentViewModel.IsDeleted</span>
                            </td>
                            <td>
                                @{
                                    if (departmentViewModel.IsDeleted)
                                    {
                                        @Html.ActionLink(@Resources.Resource.Restore, "Restore", new { departmentId = departmentViewModel.Id }, new { @class = "btn btn btn-secondary col-10 ml-auto" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink(@Resources.Resource.Update, "Update", new { departmentId = departmentViewModel.Id }, new { @class = "btn btn-success col-10 ml-auto" })
                                        @Html.ActionLink(@Resources.Resource.Delete, "Delete", new { departmentId = departmentViewModel.Id }, new { @class = "btn btn-danger col-10 ml-auto " })
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div> <!-- /.table-stats -->
    </div>
</div>
