@model Sam.ToolStock.Model.ViewModels.DepartmentViewModel

@{
    ViewBag.Title = "Update department";
}

<div class="card col-12">
    <div class="card-header">
        Update <strong>Department</strong>
    </div>
    <div class="card-body card-block">
        @using (Html.BeginForm("Update", "Department", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="row form-group">
                <div class="col col-sm-1">
                    @Html.LabelFor(m => m.Id, new { @class = "form-control-lable" })
                </div>
                <div class="col col-sm-11">
                    @Html.TextBoxFor(m => m.Id, new
                    {
                        @class = "form-control",
                        placeholder = "Disabled",
                        disabled = true
                    })
                </div>
            </div>
            @Html.HiddenFor(m => m.Id)
            <div class="row form-group">
                <div class="col col-sm-1">
                    @Html.LabelFor(m => m.Name, new { @class = "form-control-label" })
                </div>
                <div class="col col-sm-11">
                    @Html.ValidationMessageFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                </div>
            </div>
            <div class="form-actions form-group">
                <input type="submit" value="Update" name="Update" class="btn btn-success">
            </div>
        }
        <form action="#" method="post" class="form-horizontal"></form>
    </div>
</div>
