@{
    ViewBag.Title = @Resources.Resource.HomePage;
}

@if (!Request.IsAuthenticated)
{
    <h1 class="text-center">@Resources.Resource.Entry</h1>
    <p class="lead text-center">@Resources.Resource.LogInOrRegisterRequest</p>
    <p class="lead text-center">
        @Html.ActionLink(@Resources.Resource.LogIn, "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink(@Resources.Resource.Register, "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })
    </p>
}

