@model Sam.ToolStock.Model.ViewModels.PaginationViewModel

@{
    ViewBag.Title = Resources.Resource.BorrowedTools;

    var outerCounter = 0;
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="card col-12">
                    <div class="card-body">
                        <div class="col-md-10 offset-md-1">
                            @using (Html.BeginForm("BorrowedTools", "Tool", FormMethod.Get, new { @class = "form-horizontal" }))
                            {
                                <div class="row form-group">
                                    <div class="col col-md-12">
                                        <div class="input-group">
                                            @Html.HiddenFor(m => m.PageNumber)
                                            @Html.HiddenFor(m => m.PageSize)
                                            @Html.TextBoxFor(m => m.searchString, new { @class = "form-control", placeholder = @Resources.Resource.Tool })
                                            <div class="input-group-prepend">
                                                @Html.DropDownListFor(
                                                    m => m.Manufacturer, new SelectList(Model.Manufacturers, Model.Manufacturer), new {@class = "form-control input-group-text" })
                                            </div>
                                            <div class="input-group-prepend">
                                                @Html.DropDownListFor(
                                                    m => m.toolTypeId, new SelectList(Model.ToolTypes, "Id", "Name", Model.toolTypeId), new {@class = "form-control  input-group-text" })
                                            </div>
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary"><i class="fa fa-search"></i> @Resources.Resource.Search</button>
                                            </div>
                                            <div class="input-group-btn">
                                                @Html.ActionLink(@Resources.Resource.Reset, "BorrowedTools", "", new { @class = "btn btn-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample275">
            @{
                if (Model.ToolCountViewModels?.Count() == 0)
                {
                    <div class="card">
                        <div class="card-header text-center">
                            Nothing found
                        </div>
                    </div>
                }
                else
                {
                    if (Model.ToolCountViewModels != null)
                    {
                        foreach (var tool in Model.ToolCountViewModels)
                        {
                            var headingId = "h" + outerCounter;
                            var collapseId = "c" + outerCounter++;
                            <div class="card z-depth-0 bordered">
                                <div class="card-header" id=@headingId>
                                    <div class="row">
                                        <div class="col-3">
                                            <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#@collapseId"
                                                    aria-expanded="true" aria-controls=@collapseId>
                                                <strong>@Resources.Resource.Name:</strong> @tool.Name
                                            </button>
                                        </div>
                                        <div class="col-3">
                                            @Resources.Resource.Manufacturer: @tool.Manufacturer
                                        </div>
                                        <div class="col-4">
                                            @Resources.Resource.ToolType: @tool.ToolTypeName
                                        </div>
                                        <div class="col-2">
                                            <p class="text-right">
                                                @Resources.Resource.Amount: <span class="badge badge-primary">@tool.Count</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id=@collapseId class="collapse" aria-labelledby=@headingId
                                     data-parent="#accordionExample275">
                                    <div class="card-body">
                                        <div class="row">
                                            @{
                                                var stocks = tool.Tools.GroupBy(t => t.StockId)
                                                    .Select(x => new
                                                    {
                                                        Id = x.FirstOrDefault()?.Stock.Id,
                                                        Name = x.FirstOrDefault()?.Stock.Name,
                                                        Count = x.Count()
                                                    })
                                                    .ToList();
                                            }
                                            <div class="col-12">
                                                <ul class="nav justify-content-center">
                                                    @foreach (var stock in stocks)
                                                    {
                                                        <li class="nav-item alert alert-success">
                                                            <strong class="nav-link ">@stock.Name <span class="badge badge-secondary">@stock.Count</span></strong>
                                                        </li>
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
        <nav aria-label="Page navigation example">
            <div class="row">
                <div class="col-9">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">@Resources.Resource.AmountOfElements:</a>
                            <span></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href=@Url.Action("BorrowedTools", new {page = Model.PageNumber, pageSize = 6})>6</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("BorrowedTools", new {page = Model.PageNumber, pageSize = 10})>10</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("BorrowedTools", new {page = Model.PageNumber, pageSize = 15})>15</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="pagination justify-content-end">
                        @{
                            if (Model.PageNumber == 1)
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">@Resources.Resource.Previous</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href=@Url.Action("BorrowedTools", new {page = Model.PageNumber - 1})>@Resources.Resource.Previous</a>
                                </li>
                            }
                            for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                if (i == Model.PageNumber)
                                {
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">
                                            @i<span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href=@Url.Action("BorrowedTools", new {page = i})>@i</a></li>
                                }
                            }
                            if (Model.PageNumber == Model.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">@Resources.Resource.Next</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href=@Url.Action("BorrowedTools", new {page = Model.PageNumber + 1})>@Resources.Resource.Next</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="modal fade" id="scrollModal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="qwe" class="modal-content">

        </div>
    </div>
</div>