@model Sam.ToolStock.Model.ViewModels.ProfileViewModel

<div class="user-area dropdown float-right">
    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.Name @Model.Surname
    </a>

    <div class="user-menu dropdown-menu">
        <a class="nav-link" href="#"><i class="fa fa-user"></i>@Resources.Resource.MyProfile</a>

        <a class="nav-link" href="#"><i class="fa fa-cog"></i>@Resources.Resource.Settings</a>

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fa fa-power-off"></i>@Resources.Resource.Logout
            </a>
        }
    </div>
</div>