@model Sam.ToolStock.Model.ViewModels.IssueToolViewModel

@{
    ViewBag.Title = Resources.Resource.IssueTool;
}
<div class="card">
    <div class="card-header">
        @Resources.Resource.IssueTool
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Issue", "Tool", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(m => m.MaxAmount)
            @Html.HiddenFor(m => m.StockId)
            @Html.HiddenFor(m => m.ToolName)
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.LabelFor(m => m.Amount, Resources.Resource.Amount, new { @class = "form-control-label" })
                </div>
                <div class="col col-md-9">
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = Resources.Resource.Amount, value = Model.Amount })
                    @Html.ValidationMessageFor(m => m.Amount)
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.LabelFor(m => m.UserId, Resources.Resource.User, new { @class = "form-control-label" })
                </div>
                <div class="col col-md-9">
                    @Html.DropDownListFor(m => m.UserId, new SelectList(Model.Users, "Id", "FullName", Model.UserId), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserId)
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">@Resources.Resource.IssueTool</button>
        }
    </div>
</div>