@model Sam.ToolStock.Model.ViewModels.MoveToStockViewModel

@{
    ViewBag.Title = Resources.Resource.MoveToStock;
}
<div class="card">
    <div class="card-header">
        @Resources.Resource.MoveToStock
    </div>
    <div class="card-body">
        @using (Html.BeginForm("MoveToStock", "Tool", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(m => m.MaxAmount)
            @Html.HiddenFor(m => m.ToolName)
            @Html.HiddenFor(m => m.StockId)
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.LabelFor(m => m.Amount, Resources.Resource.Amount, new { @class = "form-control-label" })
                </div>
                <div class="col col-md-9">
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = Resources.Resource.Amount, value = Model.Amount })
                    @Html.ValidationMessageFor(m => m.Amount)
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.LabelFor(m => m.TargetStockId, Resources.Resource.Stock, new { @class = "form-control-label" })
                </div>
                <div class="col col-md-9">
                    @Html.DropDownListFor(m => m.TargetStockId, new SelectList(Model.Stocks, "Id", "Name", Model.StockId), new { @class = "form-control" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">@Resources.Resource.Move</button>
        }
    </div>
</div>