@model Sam.ToolStock.Model.ViewModels.PaginationViewModel

<nav aria-label="Page navigation example">
    <div class="row">
        <div class="col-9">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">@Resources.Resource.AmountOfElements:</a>
                    <span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href=@Url.Action("ShowAll", new {pageSize = 6, Model.searchString, manufacturer = Model.Manufacturer, Model.toolTypeId})>6</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("ShowAll", new {pageSize = 10, Model.searchString, manufacturer = Model.Manufacturer, Model.toolTypeId})>10</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("ShowAll", new {pageSize = 15, searchString = Model.searchString, manufacturer = Model.Manufacturer, toolTypeId = Model.toolTypeId})>15</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="pagination justify-content-end">
                @{
                    if (Model.PageNumber == 1)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">@Resources.Resource.Previous</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href=@Url.Action("ShowAll", new {page = Model.PageNumber - 1, pageSize = Model.PageSize, searchString = Model.searchString, manufacturer = Model.Manufacturer, toolTypeId = Model.toolTypeId})>@Resources.Resource.Previous</a>
                        </li>
                    }
                    for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.PageNumber)
                        {
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">
                                    @i<span class="sr-only">(current)</span>
                                </span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href=@Url.Action("ShowAll", new {page = i, pageSize = Model.PageSize, searchString = Model.searchString, manufacturer = Model.Manufacturer, toolTypeId = Model.toolTypeId})>@i</a></li>
                        }
                    }
                    if (Model.PageNumber == Model.TotalPages)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">@Resources.Resource.Next</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href=@Url.Action("ShowAll", new {page = Model.PageNumber + 1, pageSize = Model.PageSize, searchString = Model.searchString, manufacturer = Model.Manufacturer, toolTypeId = Model.toolTypeId})>@Resources.Resource.Next</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>